workflows/case_core.json
{
    "name": "ash_chat_advanced",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "webhookId": "ash-telegram-webhook",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "content": "={{$json[\"message\"][\"text\"]}}",
                "options": {}
            },
            "name": "Basic LLM Chain",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.7
                }
            },
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                700,
                500
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIALS_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "sessionId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
                "contextWindowLength": 10
            },
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                860,
                500
            ]
        },
        {
            "parameters": {
                "functionCode": "const response = $input.all()[0].json.text;\nlet parsed;\ntry {\n  parsed = JSON.parse(response);\n} catch (e) {\n  parsed = { assistant_reply: response, music_recommendation: null };\n}\nreturn { json: parsed };"
            },
            "name": "Parse Output",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
                "text": "={{$json[\"assistant_reply\"]}}\n\n{{$json[\"music_recommendation\"] ? \"🎵 Recommended: \" + $json[\"music_recommendation\"] : \"\"}}",
                "additionalFields": {}
            },
            "name": "Telegram Send Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Basic LLM Chain": {
            "main": [
                [
                    {
                        "node": "Parse Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Output": {
            "main": [
                [
                    {
                        "node": "Telegram Send Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}